


.a2{
    text-align: right;
}

.div1{
    text-align: right;
}

.a1{
    display: inline-block;
    width: 33.3%;
    text-align: center;
}

.div2{
    text-align: right;
}

.div3{
    height: 50px;
    width: 50px;
    background-color: coral;
   
}
